.Company {
    max-width: 100%;
    width: 30px;
    height: 100%;
}

.navcontainer{
    width: 50%;
    background-color: black;
}

.Bar {
    display: flex;
    justify-content: space-between;
}

.link{
    width: 20%;
}
.logo{
    width: 30%;
}
