body{
  margin:0;
}

nav>ul{
  display: flex;
  flex-wrap: wrap;
  width: 66.66%;
}
nav>ul>li{
  list-style: none;
  display: inline-block;
  width: 50%;
  text-align: center;
  margin-top: 5%;
}
a>img{
  width:40%;
}
nav{
  display: flex;
  flex-wrap: wrap;
  background-color: #222222;
}
nav>ul>li>a{
  text-decoration: none;
  color: white;
  font-size: 2em;
}

nav>ul>li>a:hover{
  color: rgb(64, 64, 153);
  text-decoration: underline;
}









@media (max-width:800px){
  a>img{
    width:60%;
    margin-left: 20%;
    margin-right:20%;
  }
}